* { margin: 0; padding: 0; }

html, body {
  height: 100%;
}

#clock {
  text-align: center;
  position: relative;
  top: 50%;
  font-family: 'Freckle Face', cursive;
  font-size: 100px;
  margin-top: -50px;
}